<!-- wp:template-part {"slug":"main-header","theme":"career-development","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"career-development/default-header"} /-->

<!-- wp:group {"align":"full","tagName":"main","layout":{"type":"default","contentSize":"85%"}} -->
<main id="content" class="wp-block-group alignfull">

<!-- wp:pattern {"slug":"career-development/404"} /-->

</main>
<!-- /wp:group -->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"career-development","tagName":"footer"} /-->