<!-- wp:template-part {"slug":"main-header","theme":"career-development","tagName":"header"} /-->

<!-- wp:pattern {"slug":"career-development/main-banner"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main id="content" class="wp-block-group">

<!-- wp:pattern {"slug":"career-development/expert-section"} /-->

<!-- wp:pattern {"slug":"career-development/testimonial"} /-->

<!-- wp:pattern {"slug":"career-development/blog-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"career-development","tagName":"footer"} /-->