<!-- wp:template-part {"slug":"main-header","theme":"career-development","tagName":"header"} /-->

<!-- wp:pattern {"slug":"career-development/post-header-with-background"} /-->

<!-- wp:group {"align":"full","tagName":"main","className":"main-page","layout":{"type":"default","contentSize":"85%"}} -->
<main id="content" class="wp-block-group main-page alignfull"><!-- wp:post-content {"className":"page-content","fontFamily":"roboto","layout":{"inherit":true,"contentSize":"90%","justifyContent":"center"}} /-->
  
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"career-development","tagName":"footer"} /-->