<!-- wp:template-part {"slug":"header","theme":"waste-disposal","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"banner-main-section","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group banner-main-section" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
<!-- wp:pattern {"slug":"waste-disposal/slider"} /-->
 
<!-- wp:pattern {"slug":"waste-disposal/project-section"} /-->
<!-- wp:pattern {"slug":"waste-disposal/about-us-section"} /-->
<!-- wp:pattern {"slug":"waste-disposal/testimonials-section"} /-->
<!-- wp:pattern {"slug":"waste-disposal/news-section"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"waste-disposal","tagName":"footer"} /-->